# USB 相机固定设备名 /dev/usb_cam
# HD USB Camera: VID=32e4, PID=9230
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="9230", ATTR{index}=="0", SYMLINK+="usb_cam"
