<launch>
  <include file="$(find abot_bringup)/launch/bringup_with_imu.launch"/>
  <!-- 轮式里程计降权: 协方差越大，EKF 越少信任打滑后的轮速里程计 -->
  <param name="cov_inflate/forward_factor" type="double" value="30.0"/>
  <param name="cov_inflate/lateral_factor" type="double" value="120.0"/>
  <param name="cov_inflate/yaw_factor" type="double" value="120.0"/>
  <include file="$(find abot_bringup)/launch/model.launch"/>
  <include file="$(find abot_bringup)/launch/rplidar.launch"/>
</launch>
